---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="bg-slate-50">
		<Header />
		<main class="max-w-4xl mx-auto px-4 py-16">
			<article class="mx-auto">
				<div class="mb-12 text-center">
					<div class="text-sm text-slate-500 mb-2">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="italic">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<h1 class="text-4xl sm:text-5xl font-extrabold tracking-tight text-slate-900 mb-6">{title}</h1>
					<hr class="border-slate-200" />
				</div>
				
				<!-- The prose class here makes the Markdown look beautiful -->
				<div class="prose prose-slate lg:prose-lg max-w-none">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
